os: linux
sudo: required
dist: trusty

notifications:
  email: false

language: C++

matrix:
  include:
    - os: linux
      sudo: required
      dist: trusty
      env: TESTOS="LINUX" TESTEXAMPLES=1 MAKETEST=1
    - os: linux
      sudo: required
      dist: trusty
      env: TESTOS="LINUX" TESTEXAMPLES=1 MAKETEST=1 NOIALLGATHER=1
    - os: linux
      sudo: required
      dist: trusty
      env: TESTOS="LINUX" FORTRAN_ONLY=1 SKIPDOXYGEN=1 SKIPSWIG=1 MAKETEST=0
    - os: linux
      sudo: required
      dist: trusty
      env: TESTOS="LINUX" SKIPDOXYGEN=1 SKIPSWIG=1 MAKETEST=0
    - os: osx
      sudo: required
      env: TESTOS="OSX" MAKETEST=1 OMPI_MCA_shmem="posix"

cache:
  pip: true
  directories:
    - openmpi-3.0.1
    - swig-3.0.12

before_install:
  - travis_wait bash UnitTests/travis_before_install.sh

script:
  - cd Build
  - bash ../UnitTests/travis_run_cmake.sh
  - make
  - if [ "$MAKETEST" = 1 ]; make test; fi
  - cd ../UnitTests/
  - bash travis_check_examples.sh

addons:
  apt:
    update: true
