os: linux
sudo: required
dist: bionic

notifications:
  email: false

language: C++

matrix:
  include:
    - os: linux
      sudo: required
      dist: bionic
      env: TESTOS="LINUX" TESTEXAMPLES=1 MAKETEST="make test"
    - os: linux
      sudo: required
      dist: bionic
      env: TESTOS="LINUX" TESTEXAMPLES=1 DEBUG=1 MAKETEST="ctest -R Regression111""
    - os: linux
      sudo: required
      dist: bionic
      env: TESTOS="LINUX" TESTEXAMPLES=1 NOIALLGATHER=1 MAKETEST="make test"
    - os: linux
      sudo: required
      dist: bionic
      env: TESTOS="LINUX" TESTEXAMPLES=1 MPICH=1 MAKETEST="ctest -R Regression211"
    - os: linux
      sudo: required
      dist: bionic
      env: TESTOS="LINUX" SKIPSWIG=1 MAKETEST=":"
    - os: osx
      sudo: required
      env: TESTOS="OSX" MAKETEST="ctest -R Regression111"
    - os: linux
      arch: ppc64le
      sudo: required
      env: MAKETEST="ctest -R Regression211"

before_install:
  - travis_wait bash UnitTests/travis_before_install.sh

script:
  - cd Build
  - bash ../UnitTests/travis_run_cmake.sh
  - make
  - eval "$MAKETEST"
  - cd ../UnitTests/
  - bash travis_check_examples.sh
  - bash travis_lint.sh

addons:
  apt:
    update: true
